/* 
.color1 { #890bd2 };
.color2 { #7408bf };
.color3 { #6006ad };
.color4 { #4b039a };
.color5 { #360087 };
*/



body {
    margin: 0%;
    scrollbar-width: 0%;
    background-color: #000000;
    background-image: url(../img/Fundo.png);
}

header {
    padding-top: 20px;
    text-align: center;
    background-image: linear-gradient(#000000,#0000007a, #00000000);
}

.imagem_logo > a > img {
    width: 150px;
}

.escolhas {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vh;
}

.partes > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 30vw;
    height: 7vh;
    background-color: #0000003b;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: purple solid 2px ;
}

.partes > a:hover {
    transform: scale(104%);
    transition: 0.5s;
    background-color: #00000083;
}

.todos > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 30vw;
    height: 7vh;
    background-color: #0000003b;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: purple solid 2px ;
}

.todos > a:hover {
    transform: scale(104%);
    transition: 0.5s;
    background-color: #00000083;
}

.container_pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: azure;
}

.pesquisa{
    text-align: center;
    border-radius: 50px;
    height: 40px;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.452);
    border: rgba(128, 0, 128, 0.404) solid 2px;
    color: white;
    text-align: center;
}

.pesquisa:hover {
    border: rgba(255, 255, 255, 0.452) solid 2px;
    transition: 0.5s;
}

.items {
    padding-top: 50px;
}

.first_row {
    display: flex;
    justify-content: space-evenly;
}

.first_row > div > div > a > img {
    width: 120px;
    border: purple 1px solid;
    border-radius: 15px;
    margin-bottom: -15px;
}

.item {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

li {
    list-style-type: none;
  }



